@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Send+Flowers&display=swap');

:root{
    --marromEscuro:#361610; 
    --marromEscuroTransparente:#361610d0; 
    --marromClaro:#7B523E;
    --amarelo:#F4C379;
    --amareloClaro:#f3ce96;
}

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lobster','Send Flowers','Indie Flower', cursive;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background-color: var(--amareloClaro);
    min-width: 375px;
    margin: auto;
    text-shadow: .5px .5px var(--marromClaro);
    transition: all 2s ease;
}

body, a{
    color: var(--amareloClaro);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--amarelo);
}

header section{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    border-bottom-left-radius: 15% ;
    border-bottom-right-radius: 15% ;
    background-color: var(--marromEscuro);
    border-bottom: 1px solid var(--marromClaro);

    transition: all 1s ease;
    box-shadow: 1px 2px 4px 1px var(--marromClaro);
}

main{
    max-width: 500px;
    margin: auto;

    padding: 15px;
    padding-bottom: 75px; /* GOOGLE ADSENSE*/
    min-height: 100vh;
    transition: all 1s ease;
}

#MainPhoto{
    width: 120px;
    padding: 0 15px;
    border-right: 1px solid var(--amarelo);
    transition: all 2s ease;
}

#MainPhoto img{
    width: 100%;
    border: 1px solid var(--amareloClaro);
    border-radius: 50%;
    box-shadow: 1px 1px 4px 1px var(--marromClaro);
}

#MainInformation{
    width: 100%;
    text-align: center;
}

#MainInformation > h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Send Flowers', cursive;
    text-shadow: 3px 2px var(--marromClaro);
    transition: all 1s ease;
}

#MainInformation > p{
    padding: 3px 0;
    font-size: medium;
    transition: all 1s ease;
}

#linksLinhaDoces{
    display: flex;
    padding: 3%;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-around;
    box-shadow: 1px 1px 3px 0 var(--marromClaro);
}

#linksLinhaDoces > a{
    background-color: var(--marromEscuro);
    cursor: pointer;
    font-size: medium;
    padding: 2% 4%;
    border-radius: 48%;
    box-shadow: 2px 3px 4px 2px var(--marromEscuroTransparente);
}

#linksLinhaDoces > a:hover{
    background-color: var(--marromEscuroTransparente);
}

fieldset{
    text-align: center;
    border-color: var(--marromEscuro);
    border-radius: 10px;
    margin-bottom: 3%;
}

fieldset > legend{
    color: var(--marromEscuro);
    padding: 0 5%;
}

.catalogItem{
    background-color: var(--marromEscuro);
    border: 1px var(--marromClaro) dashed;
    border-radius: 10px;
    margin: 4% 3%;

    display: flex;
    justify-content: space-between;

    padding: 2% 10px;
    min-height: 100px;
    box-shadow: 2px 3px 4px 1px var(--marromEscuroTransparente);
}

.catalogItemText{
    width: 70%;
    height: 100%;
}

.catalogItemImg {
    align-self: center;
}

.catalogItemImg > img{
    margin-left: 5px;
    width: 90px;
    border:1px solid var(--amareloClaro);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0 var(--marromClaro);
}

.catalogItem h3{
    text-align: center;
    font-family: 'Send Flowers', cursive;
    border-bottom: 1px solid var(--marromClaro);
}

.catalogItemText p{
    text-align: justify;
    font-size:medium;
}

/* -- SABORES POPUP-- */
#Sabores{
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
    top: 50%;
    left: 50%;
    transition: .2s ease all;
    
    padding: 10px;
    padding-top: 30px;
    width: 90%;
    max-width: 450px;

    border-radius: 10px;
    background-color: var(--marromEscuro);
    z-index: 10;
}

#Sabores fieldset{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    border-color: var(--marromClaro);
    margin-bottom: 10px;
}

#Sabores legend, .close-button{
    color: var(--amarelo);
}

#Sabores button{
    position: fixed;
    right: 10px;
    top: 10px;

    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;

    border:none;
}

#Sabores .catalogItem{
    background-color: var(--marromClaro);
    border: 1px var(--marromEscuro) dashed;
}   

#Sabores .catalogItem h3{
    border-bottom: 1px solid var(--marromEscuro);   
}

#Sabores.active{
    transform: translate(-50%,-50%) scale(1);
}

.saboresItem{
    background-color: var(--marromClaro);
    border: 1px var(--amarelo) dashed;
    border-radius: 10px;
    margin: 1%;
    margin-top: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 30%;
    min-height: 125px;
}

.saboresItem h3{
    padding: 5px;
    font-family: 'Send Flowers', cursive;
    
    min-height: 55px;
    border-bottom: 1px solid var(--amareloClaro);
}

.saboresItemImg {
    align-self: center;
}

.saboresItemImg > img{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    
    border:1px solid var(--amareloClaro);
    border-radius: 10px;
}

.close-button{
    border: 1px var(--marromClaro) solid;
    border-radius: 45%;
    padding: 0 6px;

    background-color: var(--marromClaro);
}

/* -- OVERLAY -- */
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
    transition: .5s ease all;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

@media screen and (min-width:450px){
    #Contatos{
        display: flex;
        justify-content: space-evenly;
    }

    #MainPhoto{
        margin: 7px 0;
    }
}

@media screen and (min-width:768px){
    header section{
        padding: 0 3%;
    }

    #MainInformation p{
        padding: 0 2%;
    }

    #catalogoProdutos{
        display: flex;
        flex-wrap: wrap;

        margin-top: 20px;
        padding-top: 10px;
    }

    #catalogoProdutos > legend{
        font-size: 25px;
    }

    .catalogItem{
        width: 45%;
        margin: 1% 0;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 1%;
    }

    .saboresItem h3{
        min-height: none;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    main{
        max-width: 760px;
    }

    #MainPhoto{
        width: 160px;
        padding-right: 30px;
    }
    
    #MainInformation > h1{
        font-size: 55px;
    }
    
    #linksLinhaDoces{
        max-width: 500px;
        padding: 1% 0;
    }

    .catalogItemText > h3{
        font-size: 18px;      
    }
    
    .catalogItemText > p{
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) {
    main{
        max-width: 1024px;
        font-size: 25px;
    }
    
    #MainPhoto{
        width: 230px;
        padding-right: 40px;
    }

    #MainInformation > h1{
        font-size: 86px;
    }
    
    #MainInformation  p{
        font-size: 25px;
    }

    #linksLinhaDoces{
        max-width: 800px;
        padding: 2% 0;
    }

    #linksLinhaDoces > a{
        font-size: 25px;
    }

    .catalogItemText > p{
        font-size: 20px;
    }
}