@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Send+Flowers&display=swap');

:root{
    --marromEscuro:#361610; 
    --marromEscuroTransparente:#361610d0; 
    --marromClaro:#7B523E;
    --amarelo:#F4C379;
    --amareloClaro:#f3ce96;
}

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lobster','Send Flowers','Indie Flower', cursive;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    background-color: var(--amarelo);
    min-width: 375px;
    margin: auto;
    text-shadow: 1px 1px var(--marromClaro);
    transition: all 2s ease;
}

body, a{
    color: var(--amareloClaro);
}

header section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    border-bottom-left-radius: 15% ;
    border-bottom-right-radius: 15% ;
    background-color: var(--marromEscuro);
    border-bottom: 1px solid var(--marromClaro);

    transition: all 1s ease;
    box-shadow: 1px 2px 4px 1px var(--marromClaro);
}

main{
    max-width: 500px;
    margin: auto;

    padding: 15px;
    padding-bottom: 75px; /* GOOGLE ADSENSE*/
    min-height: 100vh;
    transition: all 1s ease;
}

#MainPhoto{
    width: 120px;
    padding: 0 15px;
    border-right: 1px solid var(--amarelo);
    transition: all 2s ease;
}

#MainPhoto img{
    width: 100%;
    border: 1px solid var(--amareloClaro);
    border-radius: 50%;
    box-shadow: 1px 1px 4px 1px var(--marromClaro);
}

#MainInformation{
    width: 100%;
    text-align: center;
}

#MainInformation > h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Send Flowers', cursive;
    text-shadow: 3px 2px var(--marromClaro);
    transition: all 1s ease;
}

#MainInformation > p{
    padding: 3px 0;
    font-size: medium;
    transition: all 1s ease;
}

#MainInformation a, #linksLinhaDoces > a{
    text-decoration: none;
}

#MainInformation a:hover{
    color: var(--amarelo);
}

#linksLinhaDoces{
    display: flex;
    padding: 3%;
    margin: auto;
    justify-content: space-around;
    box-shadow: 1px 1px 3px 0 var(--marromClaro);
}

#linksLinhaDoces > a{
    background-color: var(--marromEscuro);
    cursor: pointer;
    font-size: medium;
    padding: 2% 4%;
    border-radius: 48%;
    box-shadow: 2px 3px 4px 2px var(--marromEscuroTransparente);
}

#linksLinhaDoces > a:hover{
    color: var(--amarelo);
    background-color: var(--marromClaro);
}

fieldset{
    text-align: center;
    border-color: var(--marromEscuro);
    border-radius: 10px;
    margin-bottom: 3%;
}

fieldset > legend{
    color: var(--marromEscuro);
    padding: 0 5%;
}

.catalogItem{
    background-color: var(--marromEscuro);
    border: 1px var(--marromClaro) dashed;
    border-radius: 10px;
    margin: 4% 3%;

    display: flex;
    justify-content: space-between;

    padding: 2% 10px;
    min-height: 100px;
    box-shadow: 2px 3px 4px 1px var(--marromEscuroTransparente);
}

.catalogItemText{
    width: 70%;
    height: 100%;
}

.catalogItemImg {
    align-self: center;
}

.catalogItemImg > img{
    margin-left: 5px;
    width: 90px;
    border:1px solid var(--amareloClaro);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0 var(--marromClaro);
}

.catalogItem h3{
    text-align: center;
    font-family: 'Send Flowers', cursive;
    border-bottom: 1px solid var(--marromClaro);
}

.catalogItemText p{
    text-align: justify;
    font-size:medium;
}

#Sabores{
    
}

/* 
    TODO FAZER HEADER SITICK 
    PARA SE MANTER NA TELA QUANDO ROLAR A TELA PARA BAIXO. 
*/
@media screen and (min-width:450px){
    #Contatos{
        display: flex;
        justify-content: space-evenly;
    }

    #MainPhoto{
        margin: 7px 0;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    header section{
        padding: 0 3%;
    }

    main{
        max-width: 760px;
    }

    #MainPhoto{
        width: 160px;
        padding-right: 30px;
    }
    
    #MainInformation > h1{
        font-size: 55px;
    }
    
    #MainInformation p{
        padding: 0 2%;
    }
    
    #linksLinhaDoces{
        max-width: 500px;
        padding: 1% 0;
    }

    #catalogoProdutos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;

        margin-top: 20px;
        padding-top: 15px;
    }

    #catalogoProdutos > legend{
        font-size: 25px;
    }
    
    .catalogItem{
        width: 45%;
        margin: 1% 0;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 1%;
    }

    .catalogItemText > h3{
        font-size: 18px;      
    }
    
    .catalogItemText > p{
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) {
    header section{
        padding: 0 3%;
    }

    main{
        max-width: 1024px;
        font-size: 25px;
    }
    
    #MainPhoto{
        width: 230px;
        padding-right: 40px;
    }

    #MainInformation > h1{
        font-size: 86px;
    }
    
    #MainInformation  p{
        font-size: 25px;
        padding: 0 2%;
    }

    #linksLinhaDoces{
        max-width: 800px;
        padding: 2% 0;
    }

    #linksLinhaDoces > a{
        font-size: 25px;
    }

    #catalogoProdutos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: 20px;
        padding-top: 10px;
    }
    
    .catalogItem{
        width: 45%;
        margin: 1% 0;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 1%;
    }

    .catalogItemText > p{
        font-size: 20px;
    }
}